name: Publish package

on:
  release:
    types: [ "created" ]

jobs:
  build:
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/ncbi-datasets-pyclient
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install build

      - name: Build distribution
        run: |
          python3 -m build --sdist --wheel .

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1.13
        with:
          packages-dir: ./dist
          verbose: true

#      - name: Commit built files
#        run: |
#          git config --global user.email "action@github.com"
#          git config --global user.name "GitHub Action"
#          git add .
#          git commit -m "Update built package files [skip ci]" || echo "No changes to commit"
#          git push origin main